.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    backdrop-filter: blur(10px);
    width: 50vw;
    height:56.375rem;
    background-color: transparent;
  }
  
  .meals {
    flex: 1;
    margin-right: 20px;
    height:100vh;
    width:80vw; /* Change to 80% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .meal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px;
  }
  
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 50%;
    padding: 20px;
    margin-top: 20px;
  }
  
  .nutrients {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-around;
 

  }  